mat-toolbar {
  background: var(--navbar-color);
  color: white;
  display: flex;
  align-items: center;
  padding: 0 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.app-title {
  font-weight: bold;
  font-size: 20px;
}

.logo {
  height: 40px;
  margin-right: 12px;
  vertical-align: middle;
  width: auto;
}
.logo-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.logo-link .app-title {
  display: flex;
  align-items: center;
  gap: 8px;
}


.spacer {
  flex: 1 1 auto;
}

.desktop-menu {
  display: flex;
  gap: 8px;
}

.burger-menu {
  display: none;
}

.layout-container {
  height: 100vh;
  padding-top: 64px;
}

.mobile-sidenav {
  width: 220px;
  background: var(--navbar-color);
  padding-top: 16px + 64px;
}

.mobile-menu a {
  color: white;
  font-family: 'Orbitron', sans-serif;
  padding: 16px;
  display: block;
}

.mobile-menu a:hover {
  background: rgba(255, 255, 255, 0.1);
}

@media (max-width: 900px) {
  .desktop-menu {
    display: none;
  }

  .burger-menu {
    display: inline-flex;
  }
}
