@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&family=Audiowide&family=Roboto:wght@400;500;700&display=swap');

@include mat.core();

:root {
  --font-roboto: 'Roboto', sans-serif;
  --font-orbitron: 'Orbitron', sans-serif;
  --font-audiowide: 'Audiowide', cursive;

  --navbar-color: #b71c1c;
  --theme-color: #800020;
  --hover-color: #a83232;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--font-roboto);
}

h1, h2, h3, h4, h5, h6, p, span, div{
  font-family: var(--font-audiowide);
}

.mat-toolbar {
  background-color: #800020;
  color: #fff;
}

.mat-button,
.mat-raised-button,
.mat-flat-button,
.mat-stroked-button,
.mat-icon-button,
.mat-fab,
.mat-mini-fab,
.mat-mdc-button-base {
  font-family: var(--font-orbitron) !important;
  font-weight: 600 !important;
  font-size: 1rem !important;
}

.mat-input-element {
  padding: 10px 12px !important;
  box-sizing: border-box;
  font-family: var(--font-roboto);
}

.mdc-text-field--outlined .mat-mdc-form-field-infix{
  padding-left: 10px;
}

.mat-mdc-floating-label {
  font-family: var(--font-orbitron) !important;
  font-weight: 600 !important;
  font-size: 0.95rem !important;
}

.mat-sidenav-content {
  height: 100%;
}